body {
    font-size: 100%;
    padding: 0px 25px 30px 25px;
}
body, p, td, li, ul, ol {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
body#aboutus {
   width: 800px;
}
br {
    padding: 0px !important;
    margin: 0px !important;
}
pre {
    font-size: 1em !important;
    font-family: Courier New, Courier Std,  Monospace, Andale Mono !important;
    background-color: #F9F9F9;
    padding: 3px 0px 3px 20px !important;
    margin: 5px 0px  16px 0px !important;
}
li tt {
    font-size: 1.2em !important;
    font-family: Courier New, Courier Std,  Monospace, Andale Mono !important;
}
p tt {
    font-size: 1.1em !important;
    font-family: Courier New, Courier Std,  Monospace, Andale Mono !important;
}
dt tt {
    font-size: 1.1em !important;
    font-family: Courier New, Courier Std,  Monospace, Andale Mono !important;
}

pre tt {
    font-size: 1.2em !important;
    font-family: Courier New, Courier Std,  Monospace, Andale Mono !important;
}

tt {
    font-size: 1em !important;
    font-family: Courier New, Courier Std,  Monospace, Andale Mono !important;
}
hr {
   height: 1px;
   border: 1px solid gray;
   width: 800px;
}
hr.tophr {
   padding: 0;
   margin: 18px 0 9px 0;
   text-align: left;
}
hr.bottomhr {
   padding: 0;
   margin: 9px 0 18px 0;
   text-align: left;
}
div.tophrdiv {
   margin-top: 16px;
   margin-bottom: 16px;
}
div.bottomhrdiv {
   margin-top: 16px;
   margin-bottom: 16px;
}
div.toclinks {
   width: 800px;
   margin-top: 9px;
   margin-bottom: 8px;
}
div.bottom1 hr {
   padding: 0;
   margin: 9px 0 18px 0;
   text-align: left;
}
img {
   border: 0;
   overflow: auto !important;
}
table {
   border-collapse: collapse;
   overflow: auto !important;
}
th {
   padding-right: 1em;
   border-bottom: 3px solid #ccc;
/*  white-space: nowrap;*/
}
a { /*  text-decoration: none;*/
   /*font-weight: bold;*/
}
table {/* make <td> sizes relative to body size! */
    font-size: 1em;
}
p.title { /*    NEW   */
    font-weight: bold;
    font-size: 1.0em;
    color: #000;
    margin: 0px 0 15px 0;
    padding:0;
}
.links a {
    /*font-weight: bold;*/
}
/*Start correct double spacing of lists in XML genertated articles */
li p {
    margin-top: 4px;
    margin-bottom: 4px;
}
/* Stop correct double spacing of lists in XML genertated articles */
.programlisting {
    font-family: courier;
    font-size: 11px !important;
    color: #000;
}

table.lyr3 {
    margin-left: 1em;
}

table.lyr3 tr td {
    padding-left: 2em;
}

div.captiondiv {
    width: 800px;
    text-align: center;
}
div.captiondiv .caption {
    color: #ea3031;
    font-size: 1.2em;
}
div.tocindex .caption {
    width: 100%;
    color: #ea3031;
    font-size: 1.2em;
    text-align: center;
}

div.tocdiv .caption {
    color: #ea3031;
    font-size: 1.2em;
}

div.tocdiv {
    margin-left: 2em;
}

div.tocdiv div.caption {
    margin-left: -2em;
}

div.tocdiv div.mediaobject {
    margin-left: -1em;
    margin-bottom: 2em;
}



p {
    margin-top: 0.5em;
    margin-bottom: 0.9em;
}
code {
    font-family: courier;
    font-size: 11px !important;
    color: #000;
}
.content .item-list a {
    font-size: 0.85em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
    margin: 0;
}
h1 {
    color: #BB464A;
    font-size: 1em;
}
h2.title {
    color: #D63636;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1.title {
    margin-top: 25px;
    margin-bottom: 10px;
}
div.author {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.issuemoyr {
    margin-top: 10px;
    margin-bottom: 25px;
}
.content h1 {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-variant: small-caps;
}
.content h2 {/* This is also used to define the header horizontal rules in all articles that are creataed by
                <h2 class="title"><a name="N0x850ca10.0x857392c"></a></h2> statements */
                /* divider search results text color over ridden below */
    color: #D63636;
    font-size: 1.1em;
/*    border-bottom: 2px #aaa solid;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.content h3 {
    color: #D64B4B;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.block-forum h3 {
    margin-bottom: .5em;
}
.content h4 {
    color: #D66060;
    font-size: 0.9em;
/*    border-bottom: 1px #D66060 solid;*/
    margin-bottom: 10px;
    margin-top: 10px;
}
.content h5 {
    color: #D67676;
    font-size: 0.85em;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    display: block;
    border: 0;
}
a {
    color: #000;
    text-decoration: underline;
}
a:link {
    color: #000;
    text-decoration: underline;
}
a:visited {
    color: #555;
}
a:hover {
    color: #5F5F5F;
    text-decoration: underline;
}
#main .node h1 a:link {/* Article header link controls.  font-size does not work in #main .node h1 a:xxxx{ use #main h1.title{ instead */
    color: #D62021;
    text-decoration: none;
}
#main .node h1 a:visited {
    color: #D62021;
    text-decoration: none;
}
#main .node h1 a:hover {
    color: #000000;
    text-decoration: none;
}

fieldset {
    border: 1px solid #ccc;
}
p {
    margin: 0 0 1.3em 0;
    padding: 0;
}
blockquote {
    border-left: 4px solid #888;
    padding: 0 15px 0 15px;
    margin: 25px 100px 25px 50px;
    color: #555;
    text-align: left;
    font-size: 1em;
    line-height: 1em;
    font-family: Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
.node .content {
    text-align: left;
    font-size: 0.85em;
    line-height: 1.2;
}

.links {
    color: #9B9B9B;
    font-size: 0.75em;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.hide {
    display: none;
}
.center {
    text-align: center;
/*  float: center; */
}
a.no_underline {
   color: #000;
   text-decoration: none;
}
h2.no_underline {
   text-decoration: none;
}
.caption {
    width: 60%;
    padding: 0.4em 0 0 0;
    color: #225588;
    font-size: 0.85em;
    /*font-weight: bold;*/
}
.node .content .table {
    overflow: auto;
}
.table p {
    margin: 12px 0px 8px 0px;
}
.table table {
    margin: 0px 10px 15px 10px;
}
.table table tr {
    text-align: center;
    font-size: 100%;
    border: 1px solid #aaa;
}
.table table th {
    text-align: center;
    font-size: 100%;
    border: 1px solid #aaa;
}
.table td {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid #aaa;
}

/* Splash page */
div.splash {
	width: 800px;
	padding-top: 100px;
	text-align: center;
}
div.splash img {
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 30px;
}


/* Search */

table.splash_page_search {
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

table.page_search {
    width: 800px;
    border: 0;
}

.small_shutdown {
	font-size: 60%;
}


#auto_show_covers {
	width: 800px;
	text-align: left;
	font-size: 60%;
}

#top_search {
	visibility: hidden;
}

#bottom_search {
	visibility: hidden;
}

.highlight {
    background: #FFFF40;
}

.TitleStyle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 26px
}

.SmPageTitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #CCCCCC;
}

.highlight { background: #FFFF40; font-family: Verdana, Arial, Helvetica, sans-serif;}
.searchheading { font-size: 115%; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
.summary { font-size: 80%; font-style: italic; font-family: Verdana, Arial, Helvetica, sans-serif;}
.suggestion { font-size: 100%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.results { font-size: 80%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.category { color: #999999; font-family: Verdana, Arial, Helvetica, sans-serif;}
.sorting { text-align: right; font-family: Verdana, Arial, Helvetica, sans-serif;}

.result_title { font-size: 100%; }
.description { font-size: 100%; color: #008000; }
.context { font-size: 100%; }
.infoline { font-size: 80%; font-style: normal; color: #808080;}

.zoom_searchform { font-size: 100%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.zoom_results_per_page { font-size: 80%; margin-left: 10px; }
.zoom_match { font-size: 80%; margin-left: 10px;}
.zoom_categories { font-size: 80%; }
.zoom_categories ul { display: inline; margin: 0px; padding: 0px;}
.zoom_categories li { display: inline; margin-left: 15px; list-style-type: none; }

input.zoom_button {  }
input.zoom_searchbox {  }

.result_image { float: left; display: block; }
.result_image img { margin: 10px;  border: 0px; }

.result_block { margin-top: 15px; margin-bottom: 15px; clear: left; }
.result_altblock { margin-top: 15px; margin-bottom: 15px; clear: left; }

.result_pages { font-size: 100%; }
.result_pagescount { font-size: 100%; }

.searchtime { font-size: 80%; }

.recommended
{
  background: #DFFFBF;
  border-top: 1px dotted #808080;
  border-bottom: 1px dotted #808080;
  margin-top: 15px;
  margin-bottom: 15px;
}
.recommended_heading { float: right; font-weight: bold; }
.recommend_block { margin-top: 15px; margin-bottom: 15px; clear: left; }
.recommend_title { font-size: 100%; }
.recommend_description { font-size: 100%; color: #008000; }
.recommend_infoline { font-size: 80%; font-style: normal; color: #808080;}

