<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.mcc.dataView"
   name="DataView Plug-in"
   version="1.0.0"
   provider-name="MCC"
   class="com.mcc.dataView.DataViewPlugin">

   <runtime>
      <library name="dataView.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.mcc.dataView.editors.XMLEditor"
            id="com.mcc.dataView.editors.XMLEditor">
      </editor>
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="com.mcc.dataView.editors.MultiPageEditorContributor"
            class="com.mcc.dataView.editors.MultiPageEditor"
            id="com.mcc.dataView.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.mcc.dataView.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="com.mcc.dataView.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.mcc.dataView.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="com.mcc.dataView">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="com.mcc.dataView"
            class="com.mcc.dataView.wizards.SampleNewWizard"
            id="com.mcc.dataView.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.mcc.dataView.views.DataView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="com.mcc.dataView.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="com.mcc.dataView.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="com.mcc.dataView.popup.actions.NewAction"
               menubarPath="com.mcc.dataView.menu1/group1"
               enablesFor="1"
               id="com.mcc.dataView.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="com.mcc.dataView.preferences.SamplePreferencePage"
            id="com.mcc.dataView.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Sample Page"
            nameFilter="*.*"
            class="com.mcc.dataView.properties.SamplePropertyPage"
            id="com.mcc.dataView.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="MCC Views"
            id="com.mcc.dataView">
      </category>
      <view
            name="Data View"
            icon="icons/sample.gif"
            category="com.mcc.dataView"
            class="com.mcc.dataView.views.DataView"
            id="com.mcc.dataView.views.DataView">
      </view>
   </extension>

</plugin>
