; asterisk configuration for kphone
[kphone]
type=friend                   ; either "friend" (peer+user), "peer" or "user"
host=dynamic                  ; we have a static but private IP address
callerid="kphone" <225>
mailbox=225@default
context=internal
disallow=all                  ; need to disallow=all before we can use allow=
dtmfmode=inband               ; kphone seems to only support this mode
allow=ulaw                    ; kphone also supports GSM and iLBC, but you
										; cannot send DTMF tones as "inband" through
										; anything but ulaw
